body {
    background-color: rgb(56, 56, 56);
    color: rgb(220, 220, 220);
    font-family: "Rowdies", sans-serif;
    font-weight: 50;
    font-style: normal;
    transform: translate(10px, 0);
    margin-top: 0%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
    align-items: center;
    text-size-adjust: center;
}

header {
    top: 0;
    position: sticky;
    background-color: rgb(56, 56, 56);
}

.align-center {
    text-align: center;
}

.margin-30px {
    margin: 30px 0;
}

.margin-40px {
    margin: 40px 0;
}

.margin-70px {
    margin: 70px 0;
}

.margin-50px {
    margin: 50px 0;
}

.margin-80px {
    margin: 80px 0;
}


.textao a {
    color: rgb(0, 0, 0);
    user-select: none;
    cursor: pointer;
    text-decoration: none;


    border: 5px solid blue;
    border-radius: 50px;
    background-color: white;

}

.topo {

    overflow: hidden;
    user-select: none;
    cursor: pointer;
}

.topo a {
    color: rgb(190, 190, 190);
    padding: 10px 20px;
    float: left;
    display: block;
    text-decoration: none;

}

.red {
    color: rgb(226, 58, 58);

}

.orange {
    color: orange;

}

.dark-blue {
    color: rgb(19, 115, 199);
}

.light-blue {
    color: rgb(0, 136, 255);
}

.blue {
    color: blue;
}


.tabela1 {
    align-items: center;
}

.brown {
    color: brown;
}

.green {
    color: green;
}

.lista {
    color: orange;
}

.yellow {
    color: rgb(175, 175, 14);
}

p {
    font-weight: 50;
}

footer {
    margin-top: 120px;
    margin-bottom: 30px;
    color: rgb(22, 143, 248);
    text-align: center;

}

form {
    margin-top: 120px;
    text-align: center;
}

.button {
    text-decoration: none;
    font-size: 16px;
    padding: 8px;
    background-color: rgb(0, 136, 255);
    color: white;
    border-radius: 10px;
    display: block;
    width: 70px;
    margin: 0 auto;
}

.button:hover {
    background-color: rgb(9, 89, 160);
}