* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../imagens/background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

header {
    /* background: rgba(0, 102, 255, 0.6); */
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 100px;
    font-size: 20px;
}

div#logo {
    display: inline-block;
}

header p {
    margin-left: -15px;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

}

header nav a {
    text-decoration: none;
    color: rgb(240, 237, 237);
}

section ul {
    display: inline-block;
    text-align: center;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 5%;
}

li {
    text-align: left;
    font-size: 16px;
}


section article {
    margin-top: 7%;
    text-align: center;
}

.margin-40px {
    margin: 40px;
}

footer {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
}

.button {
    color: white;
    display: block;
    margin: auto;
    text-align: center;
    font-size: 18px;
    background-color: rgb(17, 83, 226);
    width: 70px;
    padding: 8px;
    border-radius: 10px;
    text-decoration: none;
}

.button:hover {
    background-color: rgb(12, 57, 153);
}