.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.slider {
    width: 1100px;
    height: 600px;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.slides input {
    display: none;
}

.slide {
    transition: 1s;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#radio1:checked ~ .first {
    margin-left: 40%;
}

#radio2:checked ~ .first {
    margin-left: 20%;
    
}

#radio3:checked ~ .first {
    margin-left: 0%;
}

#radio4:checked ~ .first {
    margin-left: -20%;
}

#radio5:checked ~ .first {
    margin-left: -40%;
}

.navigation-auto {
    position: absolute;
    width: 900px;
    margin-top: 560px;
    display: flex;
    justify-content: center;
}

.navigation-auto div {
    border: 2px solid aqua;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1,
#radio2:checked ~ .navigation-auto .auto-btn2,
#radio3:checked ~ .navigation-auto .auto-btn3,
#radio4:checked ~ .navigation-auto .auto-btn4,
#radio5:checked ~ .navigation-auto .auto-btn5 {
    background-color: white;
}

.card {
    background: linear-gradient(135deg, #0e0c8d, #4879c2);
    border-radius: 20px;
    width: 350px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    position: relative;
    width: 100%;
    height: 140px;
    /* background: linear-gradient(135deg, #0400ff, #3379ab); */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.profile-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 5px solid white;
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
}

.content {
    padding-top: 80px;
    padding-bottom: 20px;
}

.content h1 {
    font-size: 24px;
    margin: 10px 0;
    color: #fff;
    font-weight: bold;
}

.content p {
    margin: 5px 0;
    color: #fff;
    font-weight: bold;
}

.content a {
    color: #a0a0ff;
    text-decoration: none;
}

.footer {
    background: #0000005b;
    padding: 10px 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.footer span {
    font-size: 24px;
    color: gold;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: inline-block;
    background-color: #4879c216;
    margin: 0 !important;
    border-radius: 30px;
    padding: 40px;
}

.form input.inptBig {
    padding: 8px 10px;
    border-radius: 10px;
    border: 0px solid ;
    box-shadow: none;
    margin: 5px;
    background-color: #606080;
    color: rgb(255, 255, 255);
}

input.inptBig::placeholder {
    color: rgb(255, 255, 255);
}

.form .estrela {
    margin: 0px 10px;
}

.form button.button {
    font-size: medium;
    border: 0px solid;
    box-shadow: none;
}