.locadora-layout{
    display: flex;
    width: 100%;
    gap: 12%;
    justify-content: center;
    align-items: center;
}

.locadora-text-image{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: justify;
   gap: 15px;
   border-radius: 20px;
   width: 70%;
   margin: auto;
}


.opcao-container{
    width: 41%;
    height: auto;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(105, 101, 101, 0.342);
    transition: 1s;
    
}

.opcao-container:hover{
    transition: .5s;
    cursor: default;
    background-color: rgba(33, 66, 128, 0.295);
}

.color-code{
   color: rgb(75, 117, 255);
}

.color-while{
    color: rgb(211, 114, 214);
}

.print-color{
    color: rgb(214, 203, 98);
}

.code{
    background-color: rgba(105, 101, 101, 0.342);
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    padding: 10px;
}

.margin-12{
    margin-bottom: 12%;
}

