body {
    background-color: rgb(56, 56, 56);
    color: rgb(220, 220, 220);
    font-family: "Rowdies", sans-serif;
    font-weight: 100;
    transform: translate(10px, 0);
    margin-top: 0%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
    align-items: center;
    text-size-adjust: center;
}

.logo {
    margin-left: -50px;
}

.logo p {
    margin: 0 -25px;
    font-size: 14px;
    text-decoration: none;
    color: rgb(43, 141, 226);
}

header {
    background-color: rgb(56, 56, 56);
    position: sticky;
    top: 0;
    left: 0;
    width: 90%;
    padding: 0px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

nav a {
    color: rgb(43, 141, 226);
    padding-left: 20px;
    content: '';
    position: relative;
    top: 0;
    left: 0;
    text-decoration: none;
}

nav a:hover {
    color: rgb(163, 203, 238);
}

.align-center {
    text-align: center;
}

.margin-30px {
    margin: 30px 0;
}

.margin-40px {
    margin: 40px 0;
}

.margin-70px {
    margin: 70px 0;
}

.margin-50px {
    margin: 50px 0;
}

.margin-80px {
    margin: 80px 0;
}

.margin-top-80px {
    margin-top: 80px;
}


.textao a {
    color: rgb(0, 0, 0);
    user-select: none;
    cursor: pointer;
    text-decoration: none;


    border: 5px solid blue;
    border-radius: 50px;
    background-color: white;

}

.red {
    color: rgb(226, 58, 58);

}

.orange {
    color: orange;

}

.dark-blue {
    color: rgb(19, 115, 199);
}

.light-blue {
    color: rgb(0, 136, 255);
}

.blue {
    color: blue;
}


.tabela1 {
    align-items: center;
}

.brown {
    color: brown;
}

.green {
    color: green;
}

.lista {
    color: orange;
}

.yellow {
    color: rgb(175, 175, 14);
}

p {
    font-weight: 50;
}

footer {
    margin-top: 120px;
    margin-bottom: 30px;
    color: rgb(22, 143, 248);
    text-align: center;

}

form {
    margin-top: 120px;
    text-align: center;
}

.button {
    text-decoration: none;
    font-size: 16px;
    padding: 8px;
    background-color: rgb(0, 136, 255);
    color: white;
    border-radius: 10px;
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.button:hover {
    background-color: rgb(9, 89, 160);
}

.contact-table {
    cursor: default;
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: rgb(134, 129, 129);
    }

    th {
        background-color: rgb(19, 115, 199);
        color: white;
    }

}