nav, h1{
    text-align: center;
}

body {
    background-color: rgb(247, 249, 236);
}

nav a{
    padding: 5px;
    margin-right: 5px;
    background-color: rgb(31, 133, 215);
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-size: large;
}

#atual {
    background-color: rgb(16, 87, 144);
}

li {
    display: inline;
}

div {
    margin: 20px;
    text-align: center;
    justify-content: center;
    border: solid 1px rgb(91, 91, 240);
}

nav a:hover{
    background-color: rgb(16, 87, 144);
}

p{
    font-size: large;
}

i {
    background-color: rgb(221, 221, 221);
    border-radius: 5px;
    padding: 0 5px;
    border: solid 1px rgb(98, 98, 98);
}